@mixin text-fs32 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #0032A0;
}
@mixin text-fs18 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #0032A0;
}
@mixin text-fs24 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #0032A0;
}